<h2>All Projects</h2>
<br>
<% projects.forEach(function(project) { %>
  <div>
    <h2>
      <a href="/projects/<%= project.id %>"><%= project.name %></a>
    </h2>

    <strong>Categories: </strong>
    <% project.categories.forEach(function(category){ %><a href="/categories/ <%= category.id %>" class="category"><%=category.name%></a></strong>
	<%	});	%>
	</strong>

	<div class="lastUpdated">Last Updated: <%= project.updatedAt %></div>
	<hr>
  </div>
<% }); %>


